
/* --------------------------- Header --------------------------- */

#nav {
    height: auto;
    padding: 10px;
    background: url("./imagens/sports.jpg") no-repeat fixed;
    background-color: aqua;
    color: white;
    font-size: 2em;
    font-family: 'Honk', system-ui;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #nav {
        height: auto;
        line-height: normal;
    }
}


/* --------------------------- Form --------------------------- */

#input-data {
    width: 90vw;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
}

.input-text {
    flex: 1;
    min-width: 210px;
    margin: 5px;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    transition: 0.25s;
    outline: none;
}

.input-text:focus{
    border-color: rgb(43, 55, 226);
}

.input-btn {
    flex: 1;
    min-width: 210px;
    margin: 5px;
    height: 39px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    cursor: pointer;
    transition: 0.3s all ease;
}

.input-btn:hover {
    background-color: blue;
    border-color: #383838;
    color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* --------------------------- Table --------------------------- */

#tabelaProdutos {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
    overflow-x: auto; 
}

@media only screen and (max-width: 600px) {
    #tabelaProdutos th, #tabelaProdutos td {
        font-size: 14px;
    }
}

#tabelaProdutos th {
    background-color: rgb(226, 43, 202);
    padding: 10px;
    color: rgb(252, 249, 249);
    font-weight: 900;
}

#tabelaProdutos td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

#tabelaProdutos td{
    padding: 5px;
    text-align: center;
}

#tabelaProdutos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#edit-btn, #delet-btn {
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}

@media only screen and (min-width: 600px) {
    #edit-btn, #delet-btn {
        width: auto;
    }
}



.remove-btn:hover{
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: #ffff;
}

#edit-btn {
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgb(122, 122, 122);
    width: 100px;
    color: #383838;
    cursor: pointer;
    
}

#edit-btn:hover {
    background-color: rgb(240, 197, 6);
    border-radius: 10px;
    color: #ffff;
    font-weight: bold;
}

#delet-btn {
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid rgb(122, 122, 122);
    width: 100px;
    color: #383838;
    cursor: pointer;
    
}

#delet-btn:hover {
    background-color: rgb(240, 6, 6);
    border-radius: 10px;
    color: #ffff;
    font-weight: bold;
}

